<!DOCTYPE html>
<html lang="lt" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title><%= meta_title %></title>

        <meta name="description" content="<%= typeof meta_description !== 'undefined' ? meta_description : '' %>" />

        <link rel="apple-touch-icon" sizes="180x180" href="<%= '/apple-touch-icon.png' %>" />
        <link rel="icon" type="image/png" sizes="32x32" href="<%= '/favicon-32x32.png' %>" />
        <link rel="icon" type="image/png" sizes="16x16" href="<%= '/favicon-16x16.png' %>" />
        <link rel="manifest" href="<%= '/site.webmanifest' %>" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/output.css?v=<%= cachVersion %>" />
    </head>
    <body class="font-body">
        <%- content %>
    </body>
    <script>
        let emailReplace = document.querySelectorAll('.email-replace');

        emailReplace.forEach(function (item) {
            item.innerHTML = item.innerHTML.replace(/_at_/g, '@').replace(/_dot_/g, '.');
        });
    </script>
</html>
