<!DOCTYPE html>
<html lang="lt" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title><%= meta_title %></title>

        <meta name="description" content="<%= typeof meta_description !== 'undefined' ? meta_description : '' %>" />

        <% if (typeof ogImage !== 'undefined') { %>
            <meta property="og:image" content="<%= ogImage %>" />
        <% } %>

        <link rel="apple-touch-icon" sizes="180x180" href="<%= '/apple-touch-icon.png' %>" />
        <link rel="icon" type="image/png" sizes="32x32" href="<%= '/favicon-32x32.png' %>" />
        <link rel="icon" type="image/png" sizes="16x16" href="<%= '/favicon-16x16.png' %>" />
        <link rel="manifest" href="<%= '/site.webmanifest' %>" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/output.css?v=<%= cachVersion %>" />
        <link rel="stylesheet" href="/css/custom.css?v=<%= cachVersion %>" />

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { window.dataLayer.push(arguments) }

            var cookieData = JSON.parse(localStorage.getItem('cc_cookie')) || {};

            consentData = cookieData.data || {};

            var defaultConsent = {
                analytics_storage: consentData['analytics_storage'] || 'denied',
                ad_storage: consentData['ad_storage'] || 'denied',
                ad_user_data: consentData['ad_user_data'] || 'denied',
                ad_personalization: consentData['ad_personalization'] || 'denied',
                functionality_storage: consentData['functionality_storage'] || 'denied',
                security_storage: consentData['security_storage'] || 'denied',
            };

            gtag('consent', 'default', defaultConsent);

            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KB52CJCX');
        </script>
    </head>
    <body class="font-body">
        <%- include('./components/menu_top.ejs') %>

        <%- content %>

        <%- include('./components/footer.ejs') %>
    </body>
    <script src="/js/main.js?v=<%= cachVersion %>"></script>
    <script>
        if (typeof emailReplace === 'undefined') {
            var emailReplace = document.querySelectorAll('.email-replace');
        }

        emailReplace.forEach(function (item) {
            item.innerHTML = item.innerHTML.replace(/_at_/g, '@').replace(/_dot_/g, '.');
        });
    </script>
</html>
